---
title: Lennon Du's Blog
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="lenon" href="http://7xqtok.com1.z0.glb.clouddn.com/icon-du.ico"/>
</head>
<body>
    <h1 align="center">Be a Learner!</h1>
    <hr/>
    <div style="">
        <ul style="text-align: center;list-style-type: none">
            {% for post in site.posts %}
            <li style="display: inline">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% include footer.html %}
</body>
</html>
