---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        div {
            font-family:'Times New Roman',"Microsoft YaHei","微软雅黑";
        }
    </style>
    <link rel="shortcut icon" href="http://7xqtok.com1.z0.glb.clouddn.com/icon-du.ico">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea','pre']
        }
      });
  
      MathJax.Hub.Queue(function() {
          var all = MathJax.Hub.getAllJax(), i;
         for(i=0; i < all.length; i += 1) {
             all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
	</script>      
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
	<link media = "all" rel = "stylesheet" type = "text/css" href = "http://7xqtok.com1.z0.glb.clouddn.com/syntax.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div style="text-align: center;font-size: xx-large;margin-top: 19px;margin-bottom: 19px">
        <a href="/index.html" style="text-decoration: none">首页</a>
    </div>
    <hr/>
    <div class = "container ">
        <div class = "row">
            <div class = "col-md-3">
            </div>
            <div class = "col-md-6">
            {{content}}
            </div>
            <div class = "col-md-3">
            </div>
        </div>
    </div>
    {% include footer.html %}
    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
